<div class="calibre" id="calibre_link-0">
	<br>
	<p class="block_"><span class="text_">LEILÃO PÚBLICO Nº {{numero_leilao_c}}</span><span class="text_1"></span></p>
	<br class="calibre5" />
	<p class="block_"><span class="text_">SUMÁRIO DO EDITAL DE LICITAÇÃO PARA VENDA DE IMÓVEL</span><span class="text_1"></span></p>
	<br>
	<p class="block_1"></p>
	<p class="block_2"></p>
	<table class="table_">
		<tbody class="calibre1"><tr class="tr_">
			<td colspan="2" class="td_"><p class="block_3"><b class="calibre2">1. OBJETO</b>: </p></td>
			<td colspan="5" class="td_1"><p class="block_3">Alienação dos bem(ns) imóvel(is) descritos na <span class="text_2">Relação e Descrição dos Imóveis</span> do presente edital.</p></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_2"><p class="block_4"><span class="text_3">2. VENDEDORES/CEDENTES</span><span class="text_1"></span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_4"><p class="block_3"><span class="text_4">{{sellers_qualification_data}}</span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_2"><p class="block_4"><span class="text_3">3. SESSÃO PÚBLICA DO LEILÃO/ INÍCIO DA DISPUTA DE LANCES</span><span class="text_1"></span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="2" class="td_3"><p class="block_5">Data:</p></td>
			<td colspan="2" class="td_4"><p class="block_3"><span class="text_4">{{date}}</span></p></td>
			<td class="td_4"><p class="block_5">Hora:</p></td>
			<td colspan="2" class="td_5"><p class="block_4"><span class="text_5">{{time}}</span><span class="text_1"></span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="2" class="td_3"><p class="block_5">Modalidade:</p></td>
			<td colspan="3" class="td_5"><p class="block_3"><span class="calibre3">(X) online: <span class="text_4">{{site_c}}</span></span></p></td>
			<td colspan="2" class="td_4"><p class="block_3"><span class="calibre3">(   ) presencial</span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="2" class="td_3"><p class="block_5">Modo de Disputa</p></td>
			<td colspan="2" class="td_4"><p class="block_3"><span class="calibre3">(X) Aberto<br>(    ) Fechado</span></p></td>
			<td class="td_4"><p class="block_4"><span class="text_3">Tipo:</span><span class="text_1"></span></p></td>
			<td colspan="2" class="td_5"><p class="block_3">Maior oferta de preço</p></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_2"><p class="block_4"><span class="text_3">4. LEILOEIRO(A) OFICIAL [“LEILOEIRO”]</span><span class="text_1"></span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="1" class="td_3"><p class="block_5">Nome:</p></td>
			<td colspan="3" class="td_4"><p class="block_3"><span class="text_4">{{nome_leiloeiro_oficial_c}}</span></p></td>
			<td colspan="1" class="td_4"><p class="block_5">CPF:</p></td>
			<td colspan="2" class="td_5"><p class="block_3"><span class="text_4">{{cpf_cnpj_c}}</span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="1" class="td_3"><p class="block_5">Inscrição na Junta Comercial (UF):</p></td>
			<td colspan="3" class="td_4"><p class="block_3"><span class="text_4">{{uf_jucesp_c}}</span></p></td>
			<td colspan="1" class="td_4"><p class="block_5">Nº da Inscrição: </p></td>
			<td colspan="2" class="td_5"><p class="block_3"><span class="text_4">{{numero_jucesp_c}}</span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="1" class="td_3"><p class="block_4"><span class="text_3">Preposto</span><span class="text_6">:</span><span class="text_1"></span></p></td>
			<td colspan="3" class="td_4"><p class="block_3"><span class="text_4">{{responsavel_nome_c}}</span></p></td>
			<td colspan="1" class="td_4"><p class="block_5">CPF:</p></td>
			<td colspan="2" class="td_5"><p class="block_3">{{responsavel_cpf_c}}</p></td>
		</tr>
		<tr class="tr_">
			<td colspan="1" class="td_3"><p class="block_5">Telefone:</p></td>
			<td colspan="3" class="td_4"><p class="block_3"><span class="text_4">{{responsavel_telefone_c}}</span></p></td>
			<td colspan="1" class="td_4"><p class="block_5">E-mail:</p></td>
			<td colspan="2" class="td_5"><p class="block_3"><span class="text_4">{{responsavel_email_c}}</span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="1" class="td_3"><p class="block_5">Endereço:</p></td>
			<td colspan="3" class="td_4"><p class="block_3"><span class="text_4">{{street_adress_c}}</span></p></td>
			<td colspan="1" class="td_4"><p class="block_5">Complemento:</p></td>
			<td colspan="2" class="td_5"><p class="block_3"><span class="text_4">{{complement}}</span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="1" class="td_3"><p class="block_5">Cidade/UF:</p></td>
			<td colspan="3" class="td_4"><p class="block_3"><span class="text_4">{{city_adress_c}}</span></p></td>
			<td colspan="1" class="td_4"><p class="block_5">CEP:</p></td>
			<td colspan="2" class="td_5"><p class="block_3"><span class="text_4">{{postal_code_adress_c}}</span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_2"><p class="block_4"><span class="text_3">5. GESTÃO DO PROCESSO DE LEILÃO</span><span class="text_1"></span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_2"><div class="calibre4">
				<div class="block_6">a)&nbsp;Plataforma PAGIMOVEL (CNPJ: 21.129.873/0001-79) [“Pagimovel®”]</div>
				<div class="block_7">b) Email: leilao@pagimovel.com.br</div>
				<div class="block_8">c) Telefone: (19) 3422.6222</div>
			</div></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_2"><p class="block_5">6. FORMA DE PAGAMENTO</p></td>
		</tr>
		<tr class="tr_">
			<td colspan="1" class="td_6"><p class="block_10"></p><p class="block_10"></p><p class="block_4"><span class="text_5"></span><span class="text_1"></span></p><p class="block_3"><b class="calibre2">(</b><span class="text_11">{{cash_payment}}</span><b class="calibre2">) À Vista{{cash_payment_text}}</b></p></td>
			<td colspan="6" class="td_6"><p class="block_4"><span class="text_6"></span><span class="text_5">{{payment_conditions_cash}}</span></td>
		</tr>
		<tr class="tr_">
			<td colspan="1" class="td_6"><p class="block_3"><b class="calibre2">(</b><span class="text_11">{{installments_payment}}</span><b class="calibre2">) Parcelado{{parceled_payment_text}}</b></p></td>
			<td colspan="6" class="td_6"><p class="block_4"><span class="text_6"></span><span class="text_5">{{payment_conditions_installments}}</span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_6"><p class="block_4"><span class="text_3">7. DADOS BANCÁRIOS DOS VENDEDORES/CEDENTES </span><span class="text_1"></span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_4"><p class="block_3"><span class="text_4">{{sellers_bank_data}}</span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_7"><p class="block_4"><span class="text_6"></span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_6"><p class="block_4"><span class="text_3">8. ELEIÇÃO DO FORO </span><span class="text_1"></span></p></td>
		</tr>
		<tr class="tr_">
			<td colspan="7" class="td_7"><p class="block_4"><span class="text_6">Fica eleito o foro da cidade de {{city_adress_c}} </span><span class="text_5"></span><span class="text_6"></span><span class="text_5"></span><span class="text_6">para dirimir quaisquer questões decorrentes deste</span><span class="text_1"> </span><span class="text_6"> Edital.</span></p></td>
		</tr>
		</tbody></table>

	<table style="border-color: #ffffff; background-color: #ffffff; width: 489px; margin-left: auto; margin-right: auto;">
		<tbody>
		<tr>
			<td colspan="8"></td>
		</tr>
		<tr>
			<td colspan="8">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="10"><p class="block_3">{{city_adress_c}}, <span class="text_4"></span><span class="text_4"></span><span class="text_4">{{current_day}}</span><span class="calibre3"> de </span><span class="text_4">{{current_month}}</span> de <span class="text_4">{{current_year}}</span>.</p></td>
		</tr>
		<tr>
			<td colspan="10">&nbsp;</td>
		</tr>

		<tr>
			<td style="width: 350px;">{{signer}}</td>
		</tr>
		<tr>
			<td style="width: 350px;"><b>{{canal_venda_name}}</b></td>
		</tr>
		</tbody>
	</table>
</div>
