<br class="calibre5" />
<div class="calibre" id="calibre_link-0">
	<p class="block_"><b class="calibre1">Nº do Lote:</b> <span class="text_">{{LOTE}}</span></p>
	<p class="block_"><b class="calibre1">ID:</b> <span class="text_">{{ID_BANCO}}</span></p>
	<p class="block_"><b class="calibre1">Descrição legal:</b> <span class="text_">{{DESCRICAO_LEGAL}}</span></p>
	<p class="block_"><b class="calibre1">Vendedor do imóvel:</b> <span class="text_">{{VENDEDOR_IMOVEL}}</span></p>
	<p class="block_"><b class="calibre1">Considerações importantes:</b> <span class="text_">{{CONSIDERACOES_IMPORTANTES}}</span></p>
	<p class="block_"><b class="calibre1">Lance mínimo:</b> <span class="text_">{{VALOR_VENDA}}</span></p>
	<p class="block_1"></p>
</div>
<br class="calibre5" />