<br class="calibre5" />
<div class="calibre" id="calibre_link-0">
	<p style="text-align: left"><b>Nº do Lote:</b> <span class="text_">{{LOTE}}</span></p>
	<p style="text-align: left"><b>ID:</b> <span class="text_">{{ID_BANCO}}</span></p>
	<p style="text-align: left"><b>Descrição legal:</b> <span class="text_">{{DESCRICAO_LEGAL}}</span></p>
	<p style="text-align: left"><b>Vendedor do imóvel:</b> <span class="text_">{{VENDEDOR_IMOVEL}}</span></p>
	<p style="text-align: left"><b>Considerações importantes:</b> <span class="text_">{{CONSIDERACOES_IMPORTANTES}}</span></p>
	<p style="text-align: left"><b>Lance mínimo:</b> <span class="text_">{{VALOR_VENDA}}</span></p>
	<p class="block_1"></p>
</div>
<br class="calibre5" />