<br class="calibre5" />
<div class="calibre" id="calibre_link-0">
	<p class="block_"><b class="calibre1">Nº do Lote:</b> <span class="text_">{{lote_c}}</span></p>
	<p class="block_"><b class="calibre1">ID:</b> <span class="text_">{{id_banco_c}}</span></p>
	<p class="block_"><b class="calibre1">Descrição legal:</b> <span class="text_">{{legal_description_c}}</span></p>
	<p class="block_"><b class="calibre1">Considerações importantes:</b> <span class="text_">{{consideracoes_importantes_c}}</span></p>
	<p class="block_"><b class="calibre1">Lance mínimo:</b> <span class="text_">{{valor_venda}}</span></p>
	<p class="block_1"></p>
</div>
<br class="calibre5" />


