<table width="100%">
    <tr>
        <td class="layer-title" colspan="11">
            3. CONDIÇÕES COMERCIAIS
        </td>
    </tr>
    <tr>
        <td class="layer-column-title">VALOR DO IMÓVEL</td>
        <td class="layer-column">${VALOR_IMOVEL}</td>
        <td class="layer-column" style="width: 3%; text-align: center">+</td>
        <td class="layer-column-title">COMISSÃO DE VENDA</td>
        <td class="layer-column">${COMISSAO_VENDA}</td>
        <td class="layer-column" style="width: 3%; text-align: center">+</td>
        <td class="layer-column-title">TAXA DE SERVIÇO PAGIMOVEL</td>
        <td class="layer-column">${TAXA_SERVICO_PAGIMOVEL}</td>
        <td class="layer-column" style="width: 3%; text-align: center">=</td>
        <td class="layer-column-title">VALOR TOTAL</td>
        <td class="layer-column">${VALOR_TOTAL}</td>
    </tr>
    <tr>
        <td class="layer-column-title">FORMA DE PAGAMENTO</td>
        <td class="layer-column" colspan="3">${FORMA_PAGAMENTO}</td>
        <td class="layer-column-title" colspan="2">DATA DA PROPOSTA</td>
        <td class="layer-column" colspan="5">${DATA_PROPOSTA}</td>
    </tr>
    <tr>
        <td class="layer-column-title">CONDIÇÕES DA COMPRA</td>
        <td class="layer-column" colspan="10">${CONDICOES}</td>
    </tr>
    <tr>
        <td class="layer-column-title" rowspan="2">PAGAMENTO DOS HONORÁRIOS</td>
        <td class="layer-column-title" colspan="2">Comissão de Venda</td>
        <td class="layer-column-title-mini">Quem paga:</td>
        <td class="layer-column">${HONORARIO_COMISSAO_QUEM_PAGA}</td>
        <td class="layer-column-title-mini" colspan="2">Para quem:</td>
        <td class="layer-column">${HONORARIO_COMISSAO_PARA_QUEM}</td>
        <td class="layer-column-title-mini" colspan="2">Quando:</td>
        <td class="layer-column">${HONORARIO_COMISSAO_QUANDO}</td>
    </tr>
    <tr>
        <td class="layer-column-title" colspan="2">Taxa de serviços</td>
        <td class="layer-column-title-mini">Quem paga:</td>
        <td class="layer-column">${HONORARIO_TAXA_SERVICO_QUEM_PAGA}</td>
        <td class="layer-column-title-mini" colspan="2">Para quem:</td>
        <td class="layer-column">${HONORARIO_TAXA_SERVICO_PARA_QUEM}</td>
        <td class="layer-column-title-mini" colspan="2">Quando:</td>
        <td class="layer-column">${HONORARIO_TAXA_SERVICO_QUANDO}</td>
    </tr>
    <tr>
        <td class="layer-column-title" colspan="6">COMISSÃO ESTÁ EMBUTIDA NO SINAL/ENTRADA?</td>
        <td class="layer-column" colspan="5">${COMISSAO_EMBUTIDA_SINAL_ENTRADA}</td>
    </tr>
    <tr>
        <td class="layer-column-title">MENSAGENS</td>
        <td class="layer-column" colspan="10">
            ${MENSAGEM_PROPOSTA}
        </td>
    </tr>
    <tr>
        <td class="layer-column-title">OBSERVAÇÕES DA COMPRA</td>
        <td class="layer-column" colspan="10">${OBSERVACAO}</td>
    </tr>
</table>
