<div class="calibre" id="calibre_link-0">
	<br>
	<div class='line'>
		<p class="block_"><span class="text_">LEILÃO Nº {{NUMERO_LEILAO}}</span><span class="text_1"></span></p>
	</div>
	<br class="calibre5" />
	<p class="block_"><span class="text_">SUMÁRIO DO EDITAL PARA VENDA DE IMÓVEL</span><span class="text_1"></span>
	</p>
	<br>
	<p class="block_1"></p>
	<p class="block_2"></p>
	<table class="table_">
		<tbody class="calibre1">
			<tr class="tr_">
				<td colspan="2" class="td_">
					<p class="block_3"><b class="calibre2">1. OBJETO</b>: </p>
				</td>
				<td colspan="5" class="td_1">
					<p class="block_3">Alienação dos bem(ns) imóvel(is) descritos no anexo 06 do presente
						edital.</p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_2">
					<p class="block_4"><span class="text_3">2. SESSÃO PÚBLICA DO LEILÃO/ INÍCIO DA DISPUTA DE
							LANCES</span><span class="text_1"></span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="2" class="td_3">
					<p class="block_5">Data:</p>
				</td>
				<td colspan="2" class="td_4">
					<p class="block_3"><span class="text_4">{{DATA}}</span></p>
				</td>
				<td class="td_4">
					<p class="block_5">Hora:</p>
				</td>
				<td colspan="2" class="td_5">
					<p class="block_4"><span class="text_5">{{HORA}}</span><span class="text_1"></span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="2" class="td_3">
					<p class="block_5">Modalidade:</p>
				</td>
				<td colspan="3" class="td_5">
					<p class="block_3"><span class="calibre3">(X) online: <span class="text_4">{{SITE}}</span></span>
					</p>
				</td>
				<td colspan="2" class="td_4">
					<p class="block_3"><span class="calibre3">( ) presencial</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="2" class="td_3">
					<p class="block_5">Modo de Disputa</p>
				</td>
				<td colspan="2" class="td_4">
					<p class="block_3"><span class="calibre3">(X) Aberto<br>( ) Fechado</span></p>
				</td>
				<td class="td_4">
					<p class="block_4"><span class="text_3">Tipo:</span><span class="text_1"></span></p>
				</td>
				<td colspan="2" class="td_5">
					<p class="block_3">Maior Oferta de Preço (Lance)</p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_2">
					<p class="block_4"><span class="text_3">3. LEILOEIRO(A) OFICIAL [“LEILOEIRO”]</span><span
							class="text_1"></span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="1" class="td_3">
					<p class="block_5">Nome:</p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3"><span class="text_4">{{NOME_LEILOEIRO_OFICIAL}}</span></p>
				</td>
				<td colspan="1" class="td_4">
					<p class="block_5">CPF:</p>
				</td>
				<td colspan="2" class="td_5">
					<p class="block_3"><span class="text_4">{{CPF_CNPJ}}</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="1" class="td_3">
					<p class="block_5">Inscrição na Junta Comercial (UF):</p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3"><span class="text_4">{{UF_JUCESP}}</span></p>
				</td>
				<td colspan="1" class="td_4">
					<p class="block_5">Nº da Inscrição: </p>
				</td>
				<td colspan="2" class="td_5">
					<p class="block_3"><span class="text_4">{{NUMERO_JUCESP}}</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="1" class="td_3">
					<p class="block_4"><span class="text_3">Preposto</span><span class="text_6">:</span><span
							class="text_1"></span></p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3"><span class="text_4">{{NOME_RESPONSAVEL}}</span></p>
				</td>
				<td colspan="1" class="td_4">
					<p class="block_5">CPF:</p>
				</td>
				<td colspan="2" class="td_5">
					<p class="block_3">{{CPF_RESPONSAVEL}}</p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="1" class="td_3">
					<p class="block_5">Telefone:</p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3"><span class="text_4">{{TELEFONE_RESPONSAVEL}}</span></p>
				</td>
				<td colspan="1" class="td_4">
					<p class="block_5">E-mail:</p>
				</td>
				<td colspan="2" class="td_5">
					<p class="block_3"><span class="text_4">{{EMAIL_RESPONSAVEL}}</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="1" class="td_3">
					<p class="block_5">Endereço:</p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3"><span class="text_4">{{RUA}}</span></p>
				</td>
				<td colspan="1" class="td_4">
					<p class="block_5">Complemento:</p>
				</td>
				<td colspan="2" class="td_5">
					<p class="block_3"><span class="text_4">{{COMPLEMENTO}}</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="1" class="td_3">
					<p class="block_5">Cidade/UF:</p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3"><span class="text_4">{{CIDADE}}</span></p>
				</td>
				<td colspan="1" class="td_4">
					<p class="block_5">CEP:</p>
				</td>
				<td colspan="2" class="td_5">
					<p class="block_3"><span class="text_4">{{CEP}}</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_2">
					<p class="block_4"><span class="text_3">4. PORTAL DE IMÓVEIS</span><span class="text_1"></span>
					</p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_2">
					<div class="calibre4">
						<div class="block_6">a)&nbsp;Portal de imóveis disponíveis para venda, desenvolvido e
							mantido por Resale Tecnologia e Serviços S/A: </span><a href="http://www.resale.com.br"
								class="text_8">www.resale.com.br</a><span class="text_7"> </div>
					</div>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_2">
					<p class="block_5">5. FORMALIZAÇÃO DE COMPRA/ARREMATAÇÃO</p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_2">
					<div class="calibre4">
						<div class="block_6">a)&nbsp;Plataforma PAGIMOVEL (CNPJ: 21.129.873/0001-79)
							[“Pagimovel®”]</div>
						<div class="block_8">b)&nbsp;<span class="text_9">Site: </span><a
								href="https://pagimovel.com.br/" class="text_10">https://pagimovel.com.br/</a><span
								class="text_1"></span></div>
						<div class="block_8">c)&nbsp;<span class="text_9">Email: </span><a
								href="mailto:leilao@pagimovel.com.br" class="text_10">leiloes@resale.com.br</a><span
								class="text_1"></span></div>
						<div class="block_9">d)&nbsp;Telefone: (19) 3422.6222</div>
					</div>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_2">
					<p class="block_5">6. FORMA DE PAGAMENTO</p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="1" class="td_6">
					<p class="block_10"></p>
					<p class="block_10"></p>
					<p class="block_4"><span class="text_5"></span><span class="text_1"></span></p>
					<p class="block_3"><b class="calibre2">(</b><span class="text_11">{{PAGAMENTO_DINHEIRO}}</span><b
							class="calibre2">) À
							Vista{{PAGAMENTO_DINHEIRO_TEXTO}}</b></p>
				</td>
				<td colspan="6" class="td_6">
					<p class="block_4"><span class="text_6"></span><span
							class="text_5">{{CONDICOES_PAGAMENTO_DINHEIRO}}</span>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="1" class="td_6">
					<p class="block_3"><b class="calibre2">(</b><span
							class="text_11">{{PAGAMENTO_FINANCIAMENTO}}</span><b class="calibre2">)
							Financiamento imobiliário</b></p>
				</td>
				<td colspan="6" class="td_6">
					<p class="block_4"><span class="text_6"></span><span
							class="text_5">{{PAGAMENTO_FINANCIAMENTO_TEXTO}}</span></p>
				</td>
			</tr>
			<br>
			<tr class="tr_">
				<td colspan="7" class="td_6">
					<p class="block_4"><span class="text_3">7. TAXA DE SERVIÇO PAGIMOVEL </span><span
							class="text_1"></span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_7">
					<p class="block_4"><span class="text_6">{{TAXA_PAGIMOVEL}}% sobre o valor líquido da venda,
							considerando eventuais descontos aplicados de acordo com a forma de pagamento ou o
							valor de {{taxa_minima}}, o que for maior.</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_6">
					<p class="block_4"><span class="text_3">8. ELEIÇÃO DO FORO </span><span class="text_1"></span>
					</p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_7">
					<p class="block_4"><span class="text_6">Fica eleito o foro da cidade de {{CIDADE}}
						</span><span class="text_5"></span><span class="text_6"></span><span class="text_5"></span><span
							class="text_6">para dirimir quaisquer questões
							decorrentes deste</span><span class="text_1"> </span><span class="text_6">
							Edital.</span></p>
				</td>
			</tr>
		</tbody>
	</table>

	<table
		style="border-color: #ffffff; background-color: #ffffff; width: 489px; margin-left: auto; margin-right: auto;">
		<tbody>
			<tr>
				<td colspan="8"></td>
			</tr>
			<tr>
				<td colspan="8">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="10">
					<p class="block_3">{{CIDADE}}, <span class="text_4"></span><span class="text_4"></span><span
							class="text_4">{{DIA_CORRENTE}}</span><span class="calibre3"> de </span><span
							class="text_4">{{MES_CORRENTE}}</span> de <span class="text_4">{{ANO_CORRENTE}}</span>.
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="10">&nbsp;</td>
			</tr>
			<tr>
				<td style="width: 350px;">{{ASSINANTE}}</td>
			</tr>
			<tr>
				<td style="width: 350px;"><b>{{NOME_CANAL_VENDA}}</b></td>
			</tr>
		</tbody>
	</table>
</div>