<div class="calibre" id="calibre_link-0">
	<br>
	<br class="calibre5" />
	<p class="block_"><span class="text_">EDITAL DE CONSOLIDAÇÃO DE PROPRIEDADE</span><span class="text_1"></span></p>
	<p class="block_"><span class="text_">LEILÃO PÚBLICO Nº {{NUMERO_LEILAO}}</span><span class="text_1"></span></p>
	<br class="calibre5" />
	<p class="block_"><span class="text_">SUMÁRIO DO EDITAL DE LICITAÇÃO PARA VENDA DE IMÓVEL</span><span
			class="text_1"></span></p>
	<br>
	<p class="block_1"></p>
	<p class="block_2"></p>
	<table class="table_">
		<tbody class="calibre1">
			<tr class="tr_">
				<td colspan="7" class="td_">
					<p class="block_3"><b class="calibre2">1. OBJETO</b>: Alienação dos bem(ns) imóvel(is) descritos na
						<span class="text_2">Relação e Descrição dos Imóveis</span> do presente edital.</p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_2">
					<p class="block_4"><span class="text_3">2. SESSÃO PÚBLICA DO LEILÃO/ INÍCIO DA DISPUTA DE
							LANCES</span><span class="text_1"></span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_3">
					<p class="block_3"><b class="calibre2">Data do 1º leilão: </b><span
							class="text_4">{{DATA_PRIMEIRO_LEILAO}}</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_3">
					<p class="block_3"><b class="calibre2">Data do 2º leilão: </b><span
							class="text_4">{{DATA_SEGUNDO_LEILAO}}</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="4" class="td_3">
					<p class="block_3"><b class="calibre2">Modalidade: </b><span class="calibre3">(X) online: <span
								class="text_4">{{SITE}}</span></span></p>
				</td>
				<td colspan="3" class="td_5">
					<p class="block_3"><span class="calibre3">( ) presencial</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_3">
					<p class="block_3"><b class="calibre2">Modo de Disputa: </b><span class="calibre3">(X) Aberto ( )
							Fechado</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_4">
					<p class="block_3"><b class="calibre2">Tipo: </b><span class="calibre3">Maior Oferta de Preço
							(Lance)</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_2">
					<p class="block_4"><span class="text_3">3. LEILOEIRO(A) OFICIAL [“LEILOEIRO”]</span><span
							class="text_1"></span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="4" class="td_3">
					<p class="block_3"><b class="calibre2">Nome: </b><span
							class="text_4">{{NOME_LEILOEIRO_OFICIAL}}</span></p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3"><b class="calibre2">CPF: </b><span class="text_4">{{CPF_CNPJ}}</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="3" class="td_3">
					<p class="block_3"><b class="calibre2">Inscrição na Junta Comercial (UF): </b></b>{{UF_JUCESP}}</p>
				</td>
				<td colspan="1" class="td_4">
					<p class="block_3"><span class="text_4"></span></p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3"><b class="calibre2">Nº da Inscrição: </b><span
							class="text_4">{{NUMERO_JUCESP}}</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="4" class="td_3">
					<p class="block_3"><b class="calibre2">Preposto: </b><span
							class="text_4">{{NOME_RESPONSAVEL}}</span></p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3"><b class="calibre2">CPF: </b><span class="text_4">{{CPF_RESPONSAVEL}}</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="4" class="td_3">
					<p class="block_3"><b class="calibre2">Telefone: </b><span
							class="text_4">{{TELEFONE_RESPONSAVEL}}</span></p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3"><b class="calibre2">E-mail: </b><span class="text_4">{{EMAIL_RESPONSAVEL}}</span>
					</p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="4" class="td_3">
					<p class="block_3"><b class="calibre2">Endereço: </b><span class="text_4">{{RUA}}</span></p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3"><b class="calibre2">Complemento: </b><span class="text_4">{{COMPLEMENTO}}</span>
					</p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="4" class="td_3">
					<p class="block_3"><b class="calibre2">Cidade/UF: </b><span class="text_4">{{CIDADE}}</span></p>
				</td>
				<td colspan="3" class="td_4">
					<p class="block_3">
					<p class="block_3"><b class="calibre2">CEP: </b><span class="text_4">{{CEP}}</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_6">
					<p class="block_4"><span class="text_3">4.TAXA DE SERVIÇO PAGIMOVEL </span><span
							class="text_1"></span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_7">
					<p class="block_4"><span class="text_6">{{TAXA_PAGIMOVEL}}% sobre o valor líquido da venda,
							considerando eventuais descontos aplicados de acordo com a forma de pagamento.</span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_6">
					<p class="block_4"><span class="text_3">5. ELEIÇÃO DO FORO </span><span class="text_1"></span></p>
				</td>
			</tr>
			<tr class="tr_">
				<td colspan="7" class="td_7">
					<p class="block_4"><span class="text_6">Fica eleito o foro da cidade de {{CIDADE}} </span><span
							class="text_5"></span><span class="text_6"></span><span class="text_5"></span><span
							class="text_6">para dirimir quaisquer questões decorrentes deste</span><span class="text_1">
						</span><span class="text_6"> Edital.</span></p>
				</td>
			</tr>
		</tbody>
	</table>

	<table
		style="border-color: #ffffff; background-color: #ffffff; width: 489px; margin-left: auto; margin-right: auto;">
		<tbody>
			<tr>
				<td colspan="8"></td>
			</tr>
			<tr>
				<td colspan="8">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="10">
					<p class="block_3">{{CIDADE}}, <span class="text_4"></span><span class="text_4"></span><span
							class="text_4">{{DIA_CORRENTE}}</span><span class="calibre3"> de </span><span
							class="text_4">{{MES_CORRENTE}}</span> de <span class="text_4">{{ANO_CORRENTE}}</span>.</p>
				</td>
			</tr>
			<tr>
				<td colspan="10">&nbsp;</td>
			</tr>

			<tr>
				<td style="width: 350px;">{{ASSINANTE}}</td>
			</tr>
			<tr>
				<td style="width: 350px;"><b>{{NOME_CANAL_VENDA}}</b></td>
			</tr>
		</tbody>
	</table>
</div>