<!--Layer imóvel-->
<table class="table-imovel">
    <tr>
        <td>
            <p class="remove-spaces-p"><b>Nº do Grupo:</b> {{LOTE}}</p>
            <p class="remove-spaces-p"><b>ID:</b> {{ID_BANCO}}</p>
            <p class="remove-spaces-p"><b>Descrição resumida:</b> {{DESCRICAO_LEGAL}}</p>
            <p class="remove-spaces-p"><b>Considerações importantes:</b> {{CONSIDERACOES_IMPORTANTES}}</p>
            <p class="remove-spaces-p"><b>Valor Mínimo de Referência para Proposta:</b> {{LANCE_MINIMO}}</p>
        </td>
    </tr>
</table>
<!--Layer imóvel fim-->