<p class="title-text document-title">
    CERTIFICADO DE EVENTO DA VENDA
</p>
<table>
    <tr>
        <td class="layer-title" colspan="4">
            QUADRO RESUMO
        </td>
    </tr>
    <tr>
        <td class="layer-column layer-column-title">Nº CEV:</td>
        <td class="layer-column">{{CEV}}</td>
        <td class="layer-column layer-column-title">Nº MPR:</td>
        <td class="layer-column">{{MPR}}</td>
    </tr>
    <tr>
        <td class="layer-column layer-column-title">CRONOGRAMA:</td>
        <td class="layer-column">{{CRONOGRAMA}}</td>
        <td class="layer-column layer-column-title">DATA/HORA DA MELHOR PROPOSTA:</td>
        <td class="layer-column">{{DATA_CONCORRENCIA}} às {{HORA_CONCORRENCIA}}</td>
    </tr>
</table>