<!--Layer 1-->
<table>
    <tr>
        <td class="layer-column layer-column-title" colspan="4">REGULAMENTO DA MELHOR PROPOSTA Nº</td>
        <td class="layer-column" colspan="4">${N_REGULAMENTO}</td>
    </tr>
    <tr>
        <td class="layer-column layer-column-title" colspan="2">Data início:</td>
        <td class="layer-column" colspan="2">${DATA_INICIO} - ${HORA_INICIO}</td>
        <td class="layer-column layer-column-title" colspan="2">Data fim:</td>
        <td class="layer-column" colspan="2">${DATA_FIM} - ${HORA_FIM}</td>
    </tr>
</table>
<div style="position: fixed; bottom: 10mm; left: 0; right: 0; width: 100%; text-align: center; font-size: 10pt;">
    DOR027 - v2.0 - 20250909
</div>
<!--Fim layer 1-->