<div class="logo-div">
</div>
<!--Layer 1-->
<p class="title-text document-title">
    REGULAMENTO DA MELHOR PROPOSTA Nº {{N_REGULAMENTO}}
</p>
<table>
    <tr>
        <td class="layer-title">
            <b>1. OBJETO:</b>
        </td>
        <td class="layer-column" colspan="3">
            Alienação dos bens imóveis descritos no Anexo 01 do presente Regulamento.
        </td>
    </tr>
    <tr>
        <td class="layer-title" colspan="4">
            <b>2. VENDEDOR:</b>
        </td>
    </tr>
    <tr>
        <td class="layer-column" colspan="4">
            {{QUALIFICACAO_VENDEDORES}}
        </td>
    </tr>
    <tr>
        <td class="layer-title" colspan="4">
            <b>3. INÍCIO DA MELHOR PROPOSTA</b>
        </td>
    </tr>
    <tr>
        <td class="layer-column layer-column-title">Data:</td>
        <td class="layer-column">{{DATA_INICIO}}</td>
        <td class="layer-column layer-column-title">Hora:</td>
        <td class="layer-column">{{HORA_INICIO}}</td>
    </tr>
    <tr>
        <td class="layer-column layer-column-title">Modalidade:</td>
        <td class="layer-column">Online</td>
        <td class="layer-column layer-column-title">Modo de Disputa:</td>
        <td class="layer-column">Fechado</td>
    </tr>
    <tr>
        <td class="layer-column layer-column-title">Tipo:</td>
        <td class="layer-column" colspan="3">Maior Oferta de Preço (condicional) </td>
    </tr>

    <tr>
        <td class="layer-title" colspan="4">
            <b>4. ENCERRAMENTO DA MELHOR PROPOSTA</b>
        </td>
    </tr>
    <tr>
        <td class="layer-column layer-column-title">Data:</td>
        <td class="layer-column">{{DATA_FIM}}</td>
        <td class="layer-column layer-column-title">Hora:</td>
        <td class="layer-column">{{HORA_FIM}}</td>
    </tr>
    <tr>
        <td class="layer-title" colspan="4">
            <b>5. PORTAIS DE DIVULGAÇÃO DOS IMÓVEIS DA MELHOR PROPOSTA</b>
        </td>
    </tr>
    <tr>
        <td class="layer-column" colspan="4">
            <p>Portal da Resale: www.resale.com.br</p>
            <p>Portal Vendedor: {{PORTAL_VENDEDOR}}</p>
        </td>
    </tr>
    <tr>
        <td class="layer-title" colspan="4">
            <b>6. PLATAFORMA  PARA FORMALIZAÇÃO DAS PROPOSTAS</b>
        </td>
    </tr>
    <tr>
        <td class="layer-column" colspan="4">
            <p>PAGIMOVEL®</p>
        </td>
    </tr>
    <tr>
        <td class="layer-title" colspan="4">
            <b>7. TAXA DE INTERMEDIAÇÃO</b>
        </td>
    </tr>
    <tr>
        <td class="layer-column" colspan="4">
            {{TAXA_INTERMEDIACAO}}% sobre o valor proposto
        </td>
    </tr>
    <tr>
        <td class="layer-title" colspan="4">
            <b>8. TAXA DE SERVIÇO PAGIMOVEL®</b>
        </td>
    </tr>
    <tr>
        <td class="layer-column" colspan="4">
            {{TAXA_SERVICO}}% sobre o lance vencedor
        </td>
    </tr>
</table>
<p class="document-footer-date"> Piracicaba/SP, {{ DATA_ATUAL }}</p>
<!--Fim layer 1-->